*{
    background-color: black;
    
    
}
header{
    color:white;
    font-size: 35px;
     font-weight: 200;
     font:Inter;
     position: absolute;
     top:55px;
     left:216px;
}
main{
   position: absolute;
   top:115px;
   left: 200px;
   display: block;
   
   
   

}
#name,#email,.password,#dob{
    display: block;
    border: none;
    outline: none;
    color: white;
    width:700px;
    border-bottom: 1px solid white;
    margin:18px ;

}
.form,#first,#second{
    color: white;
    
}
.form{
    position: relative;
    top:17px;
}
button{
    position: relative;
color: black;
box-sizing: border-box;
background-color: white;
top:28px;
width: 100px;
padding: 10px;
cursor: pointer;

}